.ui.arbo {
    .small-card {
        position: relative;

        width: 78px;
        height: 120px;

        margin-right: 0.5rem;

        & > img {
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
        }

        & > .cover {
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
        }
    }

    .slot {
        display: inline-block;
        position: relative;

        width: 78px; /* .small-card width + 2 to show border */
        height: 120px; /* ditto but height */

        outline: 1px dotted gray;
        border-radius: 4px;

        margin: 2px 2px 2px 2px;
    }

    .arbo-row:not(:first-child) {
        /* margin-top: -50px; */
        /* height: 120px; */
    }

    .grid {
        position: relative;

        .svg-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
}
