html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    background: #eee;
}

#container {
    height: 100%;
}

a.external:after {
    content: url(/images/external.png);
    margin: 0 0 0 5px;
}

.connection-status {
    &.connected {
        color: #9dff9d;
        &:before {
            content: "\2713 Connected";
        }
    }
    &.disconnected {
        color: #ff9d9d;
        &:before {
            content: "\2717 Not connected";
        }
    }

}

/* === Sticky footer */

.wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    padding-bottom: 2rem; /* Leave a little space before the footer for small screen heights. */
}

footer {
    border-top: 1px solid #979;
    background-color: #ccc;
    color: black;
    padding-top: 9px;
    text-align: center;
    width: 100%;
    min-height: 40px;
}

/* === Landing/index page */

#landing {
    .jumbotron {
        text-align: center;
        background-color: #ccc;
        padding: 2rem 0;
        margin: 3rem 0;
    }

    .buttons a:not(:last-child) {
        margin-right: 1em;
    }

    .game {
        margin-bottom: 2rem;

        & > img.logo {
            margin-top: 0.5em;
            margin-right: 1em;
        }
    }
}

/* === Common styles that don't fit neatly elsewhere */

.alert ul {
    margin-bottom: 0;
}

.autoscroller {
    overflow-y: scroll;

    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin-bottom: 0;
}

.game-list img.logo {
    margin-right: 1em;
}

.avatar {
    width: 64px;
    height: 64px;
}

.smaller {
    font-size: 0.8em;
}

.backdrop {
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;

    display: none;
}

.backdrop.on {
    display: block;
}

a.navbar-brand:before {
    content: "Chantry";
}

label.radio {
    margin-right: 0.5em;
    display: inline;
}

.screen-size {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 127, 255, 0.6);
    border: 1px dotted black;
    z-index: 1000;
}

.hidden { display: none }

/* === navbar fixes */
.navbar .navbar-toggler-container {
    flex: 1;
}

.navbar .navbar-collapse .collapse.show {
    flex: 1; /* grow to fit the whole navbar. */
}

@media (min-width: 768px) { /* matches -md in views.cljs [b/Navbar {:color "dark" :expand "md" :dark true} */
    .navbar .navbar-toggler-container {
        display: none;
    }
    .navbar .connection-status-container {
        /* Place the connected button to the right of the navbar.  When it has order:1
           while the collapse plugin is working, the plugin pushes it down
           along with children Collapse, even though it's outside. */
        order: 1;
    }
}

/* === Chat */

.chat {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    line-height: 1.3;

    & > ul {
        list-style-type: none;
        position: absolute;
        left: 0; right: 0;
        top: 0;

        margin-left: 0.5em;
        padding-left: 0;

        bottom: 4em;

        & > li {
            margin-bottom: 0;
        }
    }

    & > form {
        position: absolute;
        bottom: 0.5em;
        width: 95%;
        margin: 0;
        padding: 0;

        & > input {
            width: 100%;
            margin-left: 0.5em;
        }
    }

    .timestamp {
        font-size: 0.8em;
    }
}

.ui.compact .chat > form {
    margin-left: 2.5%;
}

/* === Marker: a test page to mark up rectangles on the map. */

#marker {
    .main-map {
        z-index: 0;
    }

    .preview {
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        width: 256px;
        height: 256px;
        border: 1px solid black;
        background: rgba(0, 127, 0, 0.5);
        overflow: hidden;

        .placer {
            position: absolute;
            left: 128px;
            top: 128px;
        }

        .status {
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0,127,0,0.5);
        }

        img {
            z-index: 1;
            transform: scale(4);
            transform-origin: top left;
            position: absolute;
        }
    }

    .controls {
        position: fixed;
        left: 300px;
        top: 0;
        border: 1px solid black;
        background: gray;
        width: 128px;
        height: 64px;
        text-align: center;

    }

    .crosshair-topleft {
        border-right: 1px solid red;
        border-bottom: 1px solid red;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .crosshair-bottomright {
        border-top: 1px solid red;
        border-left: 1px solid red;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
    }

}

/* === Lobby: a page for creating and joining games */

ul.people {
    list-style-type: none;
    line-height: 1.3;
    padding-left: 0;
}

.create-game-form input, .create-game-form select {
    max-width: 100%;
}

#lobby {
    .chat-container {
        position: relative;
        height: 60vh;
    }


    .games-column .new-game-button {
        margin-bottom: 1rem;
    }

    form {
        margin-top: 2rem;
    }
}

/* === view-game: page describing a single game */

#view-game {
    .avatar {
        float: left;
        margin-right: 1em;
    }

    .chat-container {
        position: relative;
        height: 50vh;
    }

    img.logo {
        margin-right: 1em;
    }
}

/* === ui: a page containing a game UI. */

.ui {
    width: 100%;
    height: 100%;


    .main {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        height: 100vh;
    }

    .top-bar {
        position: relative;
        background-color: #ffc;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        line-height: 34px;
        padding-top: 1px;
        transition: background-color 0.2s;

        .answer {
            font-style: italic;
        }

        &.is-active {
            background-color: #cfc;
        }

        &.is-finished {
            background-color: #fcf;
        }

        & > .message {
            text-align: center;
            margin-left: 2.5em; /* stay clear of the menu button */
            height: 100%;
        }

        & > .menu-button-container {
            position: absolute;
            left: 0;
            top: 0;
        }

        button {
            margin-left: 0.5em;

            &.condensed {
                width: 2.5em;
                margin-left: 0;
                padding: 6px 6px;
            }

            &.is-active {
                box-shadow: 0 0 4px #070;

                &:before {
                    content: "\2713";
                }
            }
        }
    }

    .game-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    div {
        & > .cover {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;

            background-color: transparent;
            transition: background-color 0.2s;

            border-radius: 4px;
        }

        &.is-active > .cover {
            box-shadow: 0 0 4px #070;
            background-color: rgba(0, 255, 0, 0.2);
            cursor: default;

            &:hover {
                box-shadow: 0 0 4px #0f0;
            }
        }

        &.is-checked > .cover:before {
            content: "\2713";
            color: black;
            background-color: rgba(0, 255, 0, 0.1);
            font-size: 2em;
            cursor: default;
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }

    .sidebar {
        border-left: 1px solid black;
        position: relative;

        height: 100vh;
        min-height: 600px;

        display: flex;
        flex-direction: column;

        .chat-n-log {
            flex-grow: 1;
            font-size: 14px;

            .log {
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;

                & > ul {
                    list-style-type: none;
                    padding-left: 0;
                }
            }
        }

        .observers {
            margin-right: 0.5em;
            cursor: default;
            border: 1px solid black;
            background: #dd7;
            padding: 0 2px;
            border-radius: 4px;
        }

        & > div.player-plaque {
            width: 100%;
            height: 66px;
            border-bottom: 1px solid black;
            margin-bottom: 4px;

            &:not(:first-child) {
                border-top: 1px solid black;
            }

            .line {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:first-of-type {
                    margin-top: 4px;
                }
            }

            .avatar {
                float: left;
                border-right: 1px solid black;
                margin-right: 0.5em;
            }

        }

        .tab-content {
            margin-bottom: 0.5em;
        }
    }

    .text {
        margin-left: 0.5em;
        line-height: 1.3;

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            margin-left: 1em;
        }

        li {
            margin-bottom: 0;
        }
    }

    .non-holding-place {
        position: absolute;
        width: 1rem;
        height: 1rem;
    }
}

/* .ui.compact: another mode to present game ui, more suitable for small screens */
.ui.compact {
    .first-button-row {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-right: 1px solid black;
        background-color: rgba(153, 31, 153, 0.5);
        width: 48px;
    }

    .second-button-row {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 96px;
        border-left: 1px solid black;
        background-color: rgba(153, 31, 153, 0.5);
    }

    .compact-avatars {
        position: absolute;
        top: 0;
    }

    .request-buttons {
        position: absolute;
        bottom: 0;
    }

    .main-container {
        position: absolute;
        left: 49px; /* first-button-row width + 1 */
        right: 97px; /* second-button-row width + 1 */
        top: 0;
        bottom: 0;
    }

    .top-bar {
        border-top: none;
        border-left: none;
    }

    .square-button {
        width: 48px;
        height: 48px;
        padding: 0;
        line-height: 48px;
        margin: 0 ;
        position: relative;
    }

    .square-button.wider {
        width: 96px;
    }

    .compact-avatar-container {
        float: right;
        width: 96px; /* width of the sidebar */
        height: 50px; /* 48, which is height of one avatar image, + 2 for borders */
        margin: 0;
        position: relative;
        border-bottom: 1px solid black;
        cursor: default;

        img {
            border: 1px solid transparent;
            position: absolute;
            right: 0;
            top: 0;
        }

        &.is-active img {
            border-color: #3c3;
        }

        .avatar {
            width: 48px;
            height: 48px;
            position: absolute;
            right: 0;
        }

        .line {
            width: 48px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            text-align: center;
        }
    }

    .square-button {
        .icon {
            height: 50%;
            position: absolute;
            top: 25%;
            left: 25%;
        }

        &.wider .icon {
            left: 40%;
        }

        .addition {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 18px;
            height: 18px;
            font-size: 18px;
            border-radius: 6px;
            line-height: 18px;
        }

        .attention-needed {
            background-color: #cfc;
            color: purple;
            &:before {
                content: "⚠";
            }
        }

        .new-chat-message-alert {
            background-color: yellow;
            color: black;
            &:before {
                content: "⚠";
            }
        }
    }

    .pane {
        visibility: hidden;

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &.active {
            visibility: visible;
        }

    }

    .info-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .general-container {
        flex: 0 0 0;
    }

    .log-container {
        position: relative;
        flex: 1;
    }

    .top-bar > .message {
        margin-left: 0;
    }
}

.card-crop {
    z-index: 1;
    position: relative;


    img {
        width: 100%;
        max-height: 20vh;
    }
}

.v-stack > .card-crop {
    position: absolute;
    left: 0;
    top: 0;
}

.horizontal-zone {
    width: 100%;

    & > .card-crop {
        float: left;
        margin-right: 1%;
        /* XXX max-width is td-specific but must be here because the modal is not
       inside the .ui element which is identified with the class equal to the
       game code. */
        max-width: 19%;
        margin-bottom: 0.5rem;
    }
}

.connected {
    color: green;
    cursor: default;
}

.disconnected {
    color: red;
    cursor: default;
}

.card-preview {
    position: fixed;
    top: 0;
    z-index: 1051; /* over .modal */
    display: none;

    &.on {
        display: block;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    & > img {
        max-height: 100vh;
        max-width: 100vw;
    }
}

.test-controls {
    z-index: 10;
    position: fixed;
    bottom: 4em;
    right: 10em;
    border: 1px dotted black;
    background-color: rgba(127, 255, 127, 0.8);
    width: 9em;
    padding: 0.5em;

    &:hover {
        background-color: rgba(127, 255, 127, 1);
    }

    .checkpoints {
        width: 100%;
    }

    .scenarios {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .ui {
        .main {
            min-height: 600px;
            height: 100%;
            right: 20.2rem; /* by sidebar width */
            position: absolute;
            top: 0;
            left: 0;
        }
        .sidebar {
            width: 20.2rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

@media (max-width: 549px) {
    .ui .top-bar {
        height: 82px; /* twice the normal size to fit controls, plus some */

        .answer {
            display: none;
        }
        .tmi {
            display: none;
        }
    }
}

@media (max-width: 549px) and (orientation: portrait) {
    .ui {
        .game-container {
            top: 82px; /* by top-bar height */
        }
        .top-bar {
            line-height: 22px; /* when need to fit 3 lines, let them fit  */
        }
    }
}

@media (max-width: 549px) and (orientation: landscape) {
    .ui .game-container {
        top: 82px; /* by top-bar height */
    }
}

@media (min-width: 550px) {
    .ui {
        .game-container {
            top: 42px; /* by top-bar height */
        }
        .top-bar {
            height: 42px; /* aligns with button size, plus some */
            .answer {
                display: inline;
            }
            .tmi {
                display: inline;
            }
        }

    }
}

/* === Home: page with all relevant info about your games */

#home .sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

/* === Term: a hacker terminal to play in command line */

#term {
    padding: 0 1em;
    width: auto;
    height: 100%;
    background-color: black;
    color: #bbb;
    font-family: monospace;
    font-size: 1.6rem;
    overflow-y: scroll;

    input {
        background-color: black;
        color: #bbb;
        border: 0;
        margin: 0;
        padding: 0;
        z-index: 0;
    }

    .line {
        z-index: 1; /* needed to be above the input */
        position: relative; /* to apply z-index */
    }

    form {
        position: relative;
        top: -0.4em;
        z-index: 0;
    }
}

.modal-dialog {
    .big-card {
        width: 100%;
    }

    textarea {
        width: 100%;
        min-height: 20em;
    }
}

.modal-body {
    .list-group-item img {
        height: 1em;
        margin-bottom: -2px;
    }

    .avatar {
        float: right;
    }
}

.list-group-item.is-active:before {
    content: "\2713";
}

.list-group-item.ready {
    color: #ffffff;
    background-color: #9b1995;
}

.list-group-item.ready:hover,
.list-group-item.ready:focus,
.list-group-item.ready.focus,
.list-group-item.ready:active,
.list-group-item.ready.active {
  color: #ffffff;
  background-color: #6f126b;
}

.list-group-item.ready.disabled,
.list-group-item.ready[disabled],
.list-group-item.ready.disabled:hover,
.list-group-item.ready[disabled]:hover,
.list-group-item.ready.disabled:focus,
.list-group-item.ready[disabled]:focus,
.list-group-item.ready.disabled.focus,
.list-group-item.ready[disabled].focus,
.list-group-item.ready.disabled:active,
.list-group-item.ready[disabled]:active,
.list-group-item.ready.disabled.active,
.list-group-item.ready[disabled].active {
  color: #fff;
  background-color: #6f126b;
  border-color: #9b1995;
}

/* XXX tm-specific */
// @font-face {
//     font-family: 'Prototype';
//     src: url('/tm-images/fonts/prototype.ttf');
// }

/* tabbed-component-ng: a tabbed component */

.tabbed-component-ng {
    height: 100%;
    display: flex;

    .nav-tabs li {
        cursor: pointer;
    }

    &.horizontal {
        flex-direction: column;
        .nav-tabs {
            flex-direction: row !important;
        }
    }

    &.vertical {
        flex-direction: row;
        .nav-tabs {
            flex-direction: column !important;
        }
    }

    .tab-content {
        flex-grow: 1;
        position: relative;
    }

    .tab-pane {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@import "td-ui";
@import "viti-ui";
// @import "arbo-ui";
