.ui.td {
    .map-container {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 0;
    }

    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        & > .board-img {
            position: relative;
        }
    }

    .board-widgets {
        position: absolute;
        left: 0;
        top: 0;

        & > div {
            position: absolute;
        }

        .map-marker {
            position: absolute;

            &.defcon-disc {
                transition: top 0.2s;
                z-index: 2;
            }

            &.prestige {
                transition: left 0.2s;
            }

            &.round {
                transition: left 0.2s, top 0.2s;
            }

            &.flag {
                opacity: 1;
                transition: opacity 0.2s, left 0.2s, top 0.2s;

                &.decoy {
                    opacity: 0.6;
                }
            }
        }

        div.cubes {
            height: 30%;
            width: 100%;

            /* this div has position: relative from flip-move.  Successive top offsets put the u to the second row and s to the third */
            &.u { top: 35%; }
            &.s { top: 35%; }

            & > img {
                width: 20%;
                transition: opacity 0.2s;

                &.minus {
                    opacity: 0.5;
                }
            }

            &.u > img { float: left; }
            &.s > img { float: right; }
        }

        .checks {
            color: black;
            font-size: 1.6em;
            width: 100%;
            height: 100%;
            cursor: default;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
        }

        .defcon {
            z-index: 3;

            .checks {
                margin-top: -0.5em;
            }
        }
    }

    .other-hand {
        left: 50%;
        width: 1rem;
        height: 1rem;
    }

    .s-hand.non-holding-place {
        left: 50%;
        top: 0;
        width: 1rem;
        height: 1rem;
    }

    .u-hand.non-holding-place {
        left: 50%;
        bottom: 0;
        width: 1rem;
        height: 1rem;
    }

    .your-hand-container {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-top: 1px solid black;
    }

    .auxiliary-container {
        position: absolute;
        border-left: 1px solid black;
        background-color: #fff;

        & > div {
            position: absolute;
        }

        & > .other-letter {
            top: 0;
        }

        & > .effects {
            width: 14vw; /* slightly less than width of .auxiliary-container */
            border: 1px solid black;
            border-radius: 4px;
            font-size: 14px;
            margin-left: 0.5em;

            transition: opacity 0.2s;
            z-index: 2; /* above the cards if there's overlap */

            &.s {
                background-color: #fcc;
            }

            &.u {
                background-color: #ccf;
            }

            &.is-hidden {
                opacity: 0;
            }

            & > ul {
                list-style-type: none;
                margin-bottom: 0;
                padding-left: 0;

                li {
                    border-radius: 4px;
                    padding-left: 2px;
                    cursor: default;
                    margin-bottom: 0;

                    &:hover {
                        background-color: #ffc;
                    }
                }
            }
        }

        & > .strategy-discard {
            opacity: 0.5;
        }
    }

    .sidebar {
        & > div.player-plaque.u {
            background-color: #ccf;
        }

        & > div.player-plaque.s {
            background-color: #fcc;
        }

        .defcon-levels {
            color: #ddd;

            .defcon-value {
                border-radius: 6px;
                padding: 0 1px;
            }

            .m { background-color: #c85a1d; }

            .p { background-color: #168c40; }

            .w { background-color: #702b7b; }

            .war { color: black; }
        }
    }

    .log {
        .u {
            background-color: #ddf;
            color: #446;
        }

        .s {
            background-color: #fdd;
            color: #644;
        }

    }

    .svg-container {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        pointer-events: none;
        z-index: 4;
    }

    .strategy-discard {
        width: 100%;
    }

    .agenda-zone, .aftermath-zone {
        position: absolute;
    }


}

@media (max-width: 549px) and (orientation: portrait) {
    .ui.td {
        .map-container {
            right: 0;
            bottom: 30vh; /* heights of your-hand-container and auxiliary-container */
        }
        .your-hand-container {
            right: 0;
            height: 15vh;
        }
        .auxiliary-container {
            bottom: 15vh;
            height: 15vh;
            width: 100%;

            & > .effects.other-effects {
                left: 18vw;
            }
            & > .effects.your-effects {
                right: 18vw;
            }
            & > .strategy-discard {
                left: 40vw;
            }
            & > .in-play {
                left: 40vw;
            }
            & > .your-letter {
                right: 0;
            }

            .card-crop {
                max-width: 18vw;
            }
        }
    }
}

.ui.td.compact {
    .map-container { bottom: 0; }

    .compact-avatar-container.u {
        background-color: #ccf;
    }

    .auxiliary-container > .effects {
        margin-left: -0.5em;
    }

    .compact-avatar-container.s {
        background-color: #fcc;
    }
}

@media (max-width: 549px) and (orientation: landscape) {
    .ui.td {
        .map-container {
            right: 15vw; /* by auxiliary-container width */
            bottom: 20vh; /* height of your-hand-container */
        }
        .your-hand-container {
            height: 20vh;
            right: 15vw; /* by auxiliary-container width */
        }
        .auxiliary-container {
            top: 0;
            bottom: 0;
            right: 0;
            width: 15vw;
            height: auto;
            & > .effects.other-effects {
                top: 18vh;
            }
            & > .effects.your-effects {
                bottom: 18vh;
            }
            & > .strategy-discard {
                top: 30vh;
            }
            & > .in-play {
                top: 30vh;
            }
            & > .your-letter {
                bottom: 0;
            }
            & .card-crop {
                max-width: auto;
            }
        }
    }

    .ui.td.compact .auxiliary-container > .effects {
        &.other-effects {
            top: 0;
        }

        &.your-effects {
            bottom: 0;
        }
    }
}

@media (min-width: 550px) {
    .ui.td {
        .map-container {
            right: 15vw; /* by auxiliary-container width */
            bottom: 20vh;
        }
        .your-hand-container {
            height: 20vh;
            right: 15vw; /* by auxiliary-container width */
        }
        .auxiliary-container {
            top: 0;
            bottom: 0;
            right: 0;
            width: 15vw;
            height: auto;
            & > .effects.other-effects {
                top: 18vh;
            }
            & > .effects.your-effects {
                bottom: 18vh;
            }
            & > .strategy-discard {
                top: 30vh;
            }
            & > .in-play {
                top: 30vh;
            }
            & > .your-letter {
                bottom: 0;
            }
            .card-crop {
                max-width: auto;
            }
        }
    }

    .ui.td.compact .auxiliary-container > .effects {
        &.other-effects {
            top: 0;
        }

        &.your-effects {
            bottom: 0;
        }
    }
}
