$short-anim: 0.2s;
$text-sized-figure: 1.6rem;

$player-red: #fcc;
$player-yellow: #ffc;

.viti {
    .board, .your-vineyard {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .board-image {
        position: relative;
        max-width: 99%;
        max-height: 99%;
    }

    .sidebar .player-plaque {

        &.r { background-color: $player-red; }
        &.y { background-color: $player-yellow; }

        .line {
            img {
                width: 0.9rem;
            }

            .worker-container {
                margin-left: -0.35rem;

                img {
                    width: 1rem;
                    vertical-align: bottom;

                    &.grande {
                        width: 1.1rem;
                    }
                }

            }

            .n-cards {
                margin-left: -0.75rem;
                color: white;
                margin-right: 0.5rem;
                font-weight: bold;
                pointer-events: none;

                &.bright {
                    color: black;
                }
            }
        }
    }

    .fit-to-image {
        position: absolute;
        left: 0;
        top: 0;

        transform-origin: top left;

        & > div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .svg-container {
        pointer-events: none;
    }

    .fit-to-image {

        &.board {
            width: 1202px;
            height: 961px;
        }

        &.vineyard {
            width: 1224px;
            height: 829px;
        }
        .zone {
            position: absolute;

            .card-count {
                width: 100%;

                text-align: center;
                font-size: 42px;
                position: absolute;
                bottom: 0;
                color: black;
                text-shadow: 0 0 1rem white, 0 0 2px white;
            }

            &.v-stack {
                pointer-events: none;

                .card-crop img {
                    width: 100%;
                    max-height: unset;
                }
            }
        }
    }

    .figures {
        & > .figure {
            position: absolute;
            transition: left $short-anim, top $short-anim;
        }

        & > .space {
            position: absolute;

            & > .figure {
                position: absolute;
            }
        }
    }

    .widgets {
        pointer-events: none;

        .widget {
            position: absolute;
            pointer-events: all;

            &.is-active > .cover {
                border: 3px solid green;
            }

            &.rounded > .cover {
                border-radius: 50%;
            }

        }
    }

    .figures {
        pointer-events: none;
    }

    .play-area-selector .nav .figure {
        height: $text-sized-figure;
    }

    .horizontal-zone > .card-crop {
        max-width: unset;
    }

    .card-crop {
        z-index: 1;
        img {
            width: unset;
            max-height: 30vh;
        }
    }

    div.is-active {
        z-index: 2;
    }

    .field-zones {
        .card-crop {
            width: 40%;
            margin-left: 30%;
            margin-bottom: -75%; // display in a vertical stack, later cards higher

            &:first-child {
                margin-top: -5%; // move the whole stack a little up so the bottom doesn't stick out
            }

            img {
                width: 100%;
            }
        }

        .card-crop img {
            height: unset;
            max-height: unset;
        }
    }

    .mamapapa {
        .figure {
            height: $text-sized-figure;
        }

        .card-crop img {
            max-height: 20vh;
        }
    }

    .log {
        .r { background-color: $player-red; }
        .y { background-color: $player-yellow; }
    }
}
